<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dados.Properties.Settings.Lista04ConnectionString"
            connectionString="Data Source=GABRIELDINI5F24\GILSON;Initial Catalog=Lista04;User ID=sa;Password=senha"
            providerName="System.Data.SqlClient" />
        <add name="Dados.Properties.Settings._20131011110029ConnectionString"
            connectionString="Data Source=valera;Initial Catalog=20131011110029;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>